
h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid inherit;
    clear: both;
    display: block;
    margin-bottom: 8px;
    text-decoration: underline;
    width: 100%;
}

a {
    color: red;
    text-decoration: none;   
}

a:hover {
    text-decoration: underline;   
}
